img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
}
p 	{
	font-size: 15;
}

body{
	background-color:gray;
}
h3 {font-size: 28px
}
.FontSize {
	font-size:18px
}
